__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
.env/
.venv/
env/
ENV/

build/
dist/
*.egg-info/
.env
.env.*

chroma_db/
.cache/
*.onnx
*.tar.gz

ollama_models/
*.bin
*.gguf
*.pdf
data/
datasets/

*.log

# VSCode
.vscode/

C:\\Users\\
